body{
    /* Background pattern from Toptal Subtle Patterns */
    background: url(img/footer_lodyas.png);
    font-family: 'Roboto', sans-serif;
}

/* GET STARTED */
div#getStarted{
    background: url(img/footer_lodyas.png);
    opacity: 1;
    position: fixed;
    z-index: 10;
    top: 0px;
    width: 100%;
    height: 100vh;
    color: #fff;
    text-align: center;
}
div#getStarted > button{
    margin-left: 45%;
    font-size: 15px;
    font-weight: 700;
}

/* MAIN */
.container{
    width: 1100px;
    min-height: 650px;
    margin: 30px auto auto auto;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 2px;
    box-shadow: 5px 5px 25px black;
}

h1{
    margin: 0;
    padding-top: 10px;
    text-align: center;
}

#start-btn{
    width: 220px;
    height: 50px;
    margin: 15px 450px 0;
    padding: 0;
    background-color: #4CAF50;
    border: 3px solid rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    font-size: 20px;
    color: #fff;
    box-shadow: 2px 2px 10px black;
    transition: 0.4s;
}

#start-btn:active{
    border: 3px solid rgba(0, 0, 0, 0.4);
    outline: none;
}

#start-btn:hover{
    background-color: #4cafab;
    transition: 0.4s;
}

#start-btn:focus{
    outline: none;
}

#game-box{
    width: 1000px;
    height: 420px;
    margin: 10px 50px 20px 50px;
}

.score-box{
    width: 1000px;
    height: 60px;
    margin: 15px 50px;
    text-align: center;
    font-size: 22px;
}

.resource-box{
    height: 100%;
    width: 25%;
    float: left;
}

#haveGirl{
    font-size: 12px;
}

/*Przyciski*/
.stdBtn{
    background-color: #008CBA;
    width: 190px;
    height: 60px;
    float: left;
    margin: 5px;
    padding: 0;
    border: 3px solid rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    box-shadow: 2px 2px 10px black;
    transition: 0.2s;
    font-size: 12.5px;
}

.stdBtn:hover{
    background-color: rgb(0, 92, 199);
    transition: 0.2s;
}

.stdBtn:active{
    border: 3px solid rgba(0, 0, 0, 0.6);
    outline: none;
}

.stdBtn:focus{
    outline: none;
}

.stdBtn-disabled{
    background-color: red;
    width: 190px;
    height: 60px;
    float: left;
    margin: 5px;
    padding: 0;
    border: 3px solid rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    box-shadow: 2px 2px 10px black;
    opacity: 0.65;
    outline: none;
    transition: 0.7s;
    font-size: 12.5px;
    cursor: not-allowed;
}

.stdBtn-disabled:active{
    outline: none;
}

.stdBtn-disabled:focus{
    outline: none;
}

.stdBtn-max{
    background-color: gold;
    width: 190px;
    height: 60px;
    float: left;
    margin: 5px;
    padding: 0;
    border: 3px solid rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    box-shadow: 2px 2px 10px black;
    opacity: 0.65;
    outline: none;
    transition: 2s;
    font-size: 12.5px;
    cursor: not-allowed;
}

.stdBtn-disabled:active{
    outline: none;
}

.stdBtn-disabled:focus{
    outline: none;
}

/* Aktywny Event */
.stdBtn-eventActive{
    background-color: #4CAF50;
    width: 190px;
    height: 60px;
    float: left;
    margin: 5px;
    padding: 0;
    border: 3px solid rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    box-shadow: 2px 2px 10px black;
    outline: none;
    transition: 1s;
    font-size: 12.5px;
    animation: glow 5s linear infinite;
    cursor: not-allowed;
}

@keyframes glow{
    0%{border-color: rgba(0, 0, 0, 0.2);}
    50%{border-color: rgba(255, 255, 255, 0.4);}
    100%{border-color: rgba(0, 0, 0, 0.2);}
}